.form-container {
	border: 1px solid #ccc;
	position: relative;
	border-radius: 5px;
	width: 250px;
}

.form-container {
	display: flex;
	flex-direction: column;
	justify-content: start;
    justify-content: space-between;
	padding: 30px;
}
.form-item {
	padding: 10px;
	display:flex;
	justify-content: center;
	flex-direction: column;
}

.form-item span {
	padding-left: 6px;
	text-align: left;
}

input {
	padding: 10px;
	border: 1px solid #ccc;
}

input[type="submit"] {
	background-color: #059862;
	color: white;
	font-size: medium;
	width: 40%;
}

.form-submit {
	padding-top: 20px;
	padding-bottom: 0px;
	align-items: flex-end;
}