table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 600px;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.btn-delete {
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #ea5545;
}

.btn-delete:hover {
    background-color: #ea5545;
    color: white;
}

.btn-update {
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #87bc45;
}

.btn-update:hover {
    background-color: #87bc45;
    color: white;
}

.search-bar {
    width: '100%';
}