.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid rgba(179, 179, 179, .3);
}

.container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.container-search-bar {
    padding-bottom: 20px;
    padding-top: 20px;
}

.search-bar {
    width: 217px;
    height: 47px;
    background-color: #EFEFEF;
    border-radius: 3px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.search-bar input {
    all: unset;
    text-transform: capitalize;
    font-size: 12px;
    line-height: 18px;
    color: #6D6E71;
}

.search-icon {
    margin: 15px;
    height: 15px;
    width: 15px;
}

.container-table-form {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.container-table {
    border: 1px solid #F0F0F0;
    border-radius: 3px;
    padding: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    flex-grow: 1;
    display: flex;
    background: #FFFFFF;
}

table {
    box-sizing: border-box;
    border-collapse: collapse;
    border-style: hidden;
    flex-grow: 1;
}

table thead {
    height: 60px;
}

table th {
    text-align: left;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 32px;
    border: 1px solid #F0F0F0;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}

table td {
    text-transform: capitalize;
    text-align: left;
    padding: 20px;
    border: 1px solid #F0F0F0;

    font-size: 12px;
    line-height: 18px;
    color: #6D6E71;
}

.container-loading-text {
    text-align: center;
    flex-grow: 2;
}

.btn {
    box-sizing: border-box;
    padding-top: 12px;
    padding-bottom: 11px;
    border: none;
    border-radius: 3px;

    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    cursor: pointer;

    text-align: center;
}

.btn-update {
    background: #36C15D;
    margin-left: 10px;
    width: 69px;
}

.btn-save {
    background-color: #36C15D;
}

.btn-delete {
    background: #E31F26;
    width: 69px;
}

.container-country-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
}

.row-buttons {
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
}

th {
    width: 98px;
}

th:nth-child(1) {
    width: 58px;
}

th:nth-child(5) {
    width: 216px;
}

tr:last-child td {
    padding-bottom: 0px;
}

.form {
    box-sizing: border-box;
    width: 335px;
    padding: 20px;
    background: #FFFFFF;
    border: 1px solid #F0F0F0;
    border-radius: 3px;
}

.form .form-title {
    margin-top: 11px;
    margin-bottom: 31px;

    text-transform: capitalize;
    text-align: center;

    font-weight: 700;
    font-size: 12px;
    line-height: 18px;

    color: #000000;
}

.form .form-item span {
    display: flex;
    text-transform: capitalize;
    flex-direction: column;

    font-size: 12px;
    line-height: 18px;

    color: #6D6E71;
}

.form .form-item {
    margin-top: 20px;
}

.form .form-item input,
.input-address {
    width: calc(100% - 30px);
    padding: 15px;

    background: #FFFFFF;
    border: 1px solid #F0F0F0;
    border-radius: 3px;

    text-transform: capitalize;
    font-size: 12px;
    line-height: 18px;
    color: #6D6E71;
}

.form .form-item input:focus,
.form .form-item .input-address:focus-visible {
    outline-width: 0;
}

.form .form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
}

.form .form-buttons .btn {
    width: 100%;
}

.form .form-buttons .btn-delete {
    margin-right: 10px;
}

.input-address {
    height: 54px;
    resize: none;
}

.dropdown-container {
    text-align: left;
    position: relative;

    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 7px;
    background: #FFFFFF;
    border: 1px solid #F0F0F0;
    border-radius: 3px;
}

.dropdown-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    transform: translateY(4px);
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: auto;
    max-height: 150px;
    background-color: #fff;
}

.dropdown-item {
    padding: 5px;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #9fc3f870;
}

.dropdown-item.selected {
    background-color: #0d6efd;
    color: #fff;
}

.dropdown-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.dropdown-tag-item {
    padding: 5px 8px 5px 8px;
    width: min-content;
    margin-bottom: 10px;
    margin-right: 10px;

    text-transform: capitalize;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #8085E9;

    background: #F0F0F0;
    border-radius: 6px;
}

.dropdown-tag-close {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 6px
}

.dropdown-tag-item-text {
    margin-right: 23px;
}

.dropdown-selected-value {
    font-size: 12px;
    line-height: 18px;
    color: #6D6E71;
}